/* reset */

*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

/* general */

body{
    font-family: sans-serif;
    background-color: lightskyblue;
}

.container > div{
    background-color: white;

    margin-bottom:50px;
    border-radius: 20px;
}

#discount{
    font-size: 14px;
    color: gray;
    text-decoration:line-through;
}

/* utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.f-grow{
    flex-grow: 1;
}

.d-block{
    display: block;
}

.g-5{
    gap: 25px;
}

.bg-lightgray{
    background-color: whitesmoke;
}

.border-gray{
    border:1.5px solid gray;

    padding: 0;
}